In [1]:
import numpy as np
import pandas as pd

In [77]:
df1 = pd.read_csv('language.csv')

In [78]:
df1.head()

,pk,jsondata,id,name,description,markup_description,latitude,longitude,version
0,353,NaN,ktz,Kati (in Afghanistan),NaN,NaN,35.5,70.00,1
1,616,NaN,wgl,Waigali,NaN,NaN,35.0,71.25,1
2,1417,NaN,pra,Prasuni,NaN,NaN,35.5,71.00,1
3,1175,NaN,kdw,Kadiwéu,NaN,NaN,-20.0,-57.00,1
4,2677,NaN,mcv,Mocoví,NaN,NaN,-28.0,-60.50,1

In [75]:
(df1[df1['name']=='English'].to_dict("records"))

[{'pk': 2551,
  'jsondata': nan,
  'id': 'eng',
  'name': 'English',
  'description': nan,
  'markup_description': nan,
  'latitude': 52.0,
  'longitude': 0.0,
  'version': 1}]

In [59]:
df = pd.read_csv('sentence.csv')

In [60]:
df['name'][909]

'wasátkan'