In [1]:
import numpy as np
import pandas as pd

In [8]:
df2 = pd.read_csv('languages.csv')

In [4]:
df1 = pd.read_csv('examples.csv')

In [11]:
df1.head()

,ID,Language_ID,Primary_Text,Analyzed_Word,Gloss,Translated_Text,Meta_Language_ID,Comment
0,igt-1,mnd,tāmen tōu zìxíngchē,tāmen\ttōu\tzìxíngchē,3PL\tsteal\tbicycle,They steal bicycles.,NaN,NaN
1,igt-2,mnd,[wǒ gěi nǐ de] shū,[wǒ\tgěi\tnǐ\tde]\tshū,[1SG\tgive\t2SG\tLINK]\tbook,the book [that I gave you],NaN,NaN
2,igt-3,nbd,dımın ıdw ṍww(ı),dımın\tıdw\tṍww(ı),ten\teight\ttwo,82,NaN,NaN
3,igt-4,geo,v-,v-,1 SG /1 PL,I we,NaN,NaN
4,igt-5,dre,troa traqa la nekönatr,troa\ttraqa\tla\tnekönatr,oblig\tarrive\tthe\tchild,the child must come,NaN,NaN

In [160]:
ids = list(df2[df2['Name']=='Awadhi']['ID'])[0]

In [209]:
query_lang = 'awadhi'

In [210]:
out_row = df2[df2["Name"] == query_lang].to_dict("records")

In [211]:
out_row[0]['ID']

IndexError: list index out of range

In [159]:
list(ids)[0]

'awd'

In [142]:
import random
df2.Name[int(random.random()*2000)]

'Auslan'

In [198]:
df1[df1['Language_ID']=='hin']

,ID,Language_ID,Primary_Text,Analyzed_Word,Gloss,Translated_Text,Meta_Language_ID,Comment
167,igt-164,hin,laRkaa kal aay-aa,laRkaa\tkal\taay-aa,boy\tyesterday\tcome.AOR-SG.M,The boy came yesterday.,NaN,NaN
168,igt-165,hin,laRke ne laRkii ko dekh-aa,laRke\tne\tlaRkii\tko\tdekh-aa,boy.OBL\tERG\tgirl\tACC\tsee- SG.M,The boy saw the girl.,NaN,NaN
611,igt-608,hin,maim,maim,1sg.nom,I,NaN,NaN
612,igt-609,hin,ham,ham,1pl.nom,we,NaN,NaN
744,igt-995,hin,a. maim̊ calt-ā hūm̊,a.\tmaim̊\tcalt-ā\thūm̊,1SG.PRON\tgo-\tSG\t1SG.AUX,I go.,NaN,NaN
745,igt-996,hin,b. ham calt-e haim̊,b.\tham\tcalt-e\thaim̊,1PL.PRON\tgo-\tPL\t1PL.AUX,‘We go’.,NaN,NaN
2388,igt-2405,hin,maim hūm,maim\thūm,I\tbe.1.SG.PRES,'be',NaN,NaN
2389,igt-2406,hin,maim thā,maim\tthā,I\tbe.1.SG.M.PST,'be',NaN,NaN
2390,igt-2407,hin,maim hūmga,maim\thūmga,I\tbe.1.SG.M.FUT,'be',NaN,NaN
2391,igt-2408,hin,jānā,jānā,go.PRES/IMPF,'go',NaN,NaN
2392,igt-2409,hin,gayā,gayā,go.SG.M.PFV,'go',NaN,NaN
2906,igt-2922,hin,laRkaa kal aay aa,laRkaa\tkal\taay\taa,boy\tyesterday\tcome.aor\tsg.m,the boy came yesterday,NaN,NaN
2907,igt-2923,hin,laRke ne laRkii ko dekh aa,laRke\tne\tlaRkii\tko\tdekh\taa,boy.obl\terg\tgirl\tacc\tsee .aor\tsg.m,the boy saw the girl,NaN,NaN
2908,igt-2924,hin,maiM kal aay aa,maiM\tkal\taay\taa,I\tyesterday\tcome.aor\tsg.m,I came yesterday,NaN,NaN
2909,igt-2925,hin,maiM ne tujh e dekh aa,maiM\tne\ttujh\te\tdekh\taa,I\terg\tyou.obl\tacc\tsee .aor\tsg.m,I saw you,NaN,NaN
3104,igt-3121,hin,[us ke kahaanii paRh ne se] sab khush hu e,[us\tke\tkahaanii\tpaRh\tne\tse]\tsab\tkhush\t...,he\tgen.obl\tstory\tread\tan\tinstr\tall\thapp...,'Everyone was happy by his reading the story,NaN,NaN
3565,igt-3582,hin,Maim jis ādmī se bāt kar rahā thā vah kal bhār...,Maim\tjis\tādmī\tse\tbāt\tkar\trahā\tthā\tvah\...,I.DIR\twhich.SG.OBL\tman\tto\ttalk\tdo\tPROG.S...,The man [to whom I was talking ] will go to In...,NaN,NaN
3630,igt-3649,hin,do sau ik taal iis,do\tsau\tik\ttaal\tiis,two\thundred\tone\tfour\tty,241 (i.e. 2 x 100 + 1 + 4 x 10),NaN,NaN

In [214]:
for index,rows in df1[df1['Language_ID']=='hin'].reset_index(drop=True)[:2].iterrows():
    print(index)

0
1

In [35]:
'five'

'five'

In [36]:
'5'

'5'

In [38]:
int('5')

5

In [208]:
if 'a':
    print('hi')

hi